<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiep.staff.mapper.AbsentMapper">

    <!-- ABSENT -->
    <insert id="insertAbsent">
        INSERT INTO absent (class_id, student_id, log_id, absent, reason, part, absent_at)
        VALUES (#{class_id}, #{student_id}, #{log_id}, #{absent}, #{reason}, #{part}, #{absent_at})
    </insert>
    
    <select id="hasAbsent"
		resultType="int">
		select count(*) from absent where log_id = #{log_id} and student_id = #{student_id}
	</select>
	
	<select id="getAbsentRecordsByClassAndStudent" resultType="com.hiep.staff.entity.AbsentEntity">
	    SELECT 
	        a.id,
	        a.class_id,
	        c.classname,
	        a.student_id,
	        s.name AS student_name,
	        a.absent,
	        a.reason,
	        a.part,
	        a.absent_at,
	        a.log_id
	    FROM 
	        public."absent" a
	    JOIN 
	        public."class" c ON a.class_id = c.id
	    JOIN 
	        public.student s ON a.student_id = s.id
	    <where>
	        <if test="classId != null">
	            a.class_id = #{classId}
	        </if>
	        <if test="studentId != null">
	            AND a.student_id = #{studentId}
	        </if>
	    </where>
	    ORDER BY absent_at ASC
	</select>
	
	<select id="findAbsentByLogId"
		resultType="com.hiep.staff.entity.AbsentEntity">
		SELECT a.*, s.name AS student_name
	    FROM absent a
	    JOIN student s ON a.student_id = s.id
	    WHERE a.log_id = #{logId} AND a.class_id = #{classId}
	</select>
    
    <update id="updateAbsent">
        UPDATE absent
        SET absent = #{absent},
            reason = #{reason},
            part = #{part},
            absent_at = #{absent_at}
        where class_id = #{class_id} and student_id = #{student_id} and part = #{part} and absent_at = #{absent_at}
    </update>
	<delete id="deleteAbsentByLogId">
	    DELETE FROM absent WHERE log_id = #{logId}
	</delete>
	
</mapper>