<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiep.staff.mapper.AccountsMapper">

	<select id="login"
		resultType="com.hiep.staff.entity.AccountsEntity">
		SELECT * FROM accounts WHERE username = #{username} and password = #{password}
	</select>
	
	<select id="getAccounts"
		resultType="com.hiep.staff.entity.AccountsEntity">
		SELECT * FROM accounts where status is null order by staff_id asc
	</select>
	
	<select id="checkUser"
		resultType="int">
		SELECT count(*) FROM accounts WHERE username = #{username}
	</select>
	
	<select id="checkStaffId"
		resultType="int">
		SELECT count(*) FROM accounts WHERE staff_id = #{staff_id}
	</select>

	<select id="getAccount"
		resultType="com.hiep.staff.entity.AccountsEntity">
		SELECT * FROM accounts where user_id = #{id}
	</select>

	<select id="searchAccount"
		resultType="com.hiep.staff.entity.AccountsEntity">
		SELECT * FROM accounts where not status = '0' and (
		staff_id = #{value}
		or username LIKE CONCAT('%', #{value}, '%')
		or fullname LIKE CONCAT('%', #{value}, '%')
		)
	</select>

	<select id="searchAccountByStaffId"
		resultType="com.hiep.staff.entity.AccountsEntity">
		SELECT * FROM accounts where staff_id = #{id}
	</select>

	<delete id="deleteAccount">
		UPDATE accounts
		SET
		delete_at = #{delete_at},
		delete_user = #{delete_user},
		status = '0'
		where user_id
		= #{user_id}
	</delete>

	<insert id="registerUser">
		INSERT INTO accounts(
		staff_id,
		username,
		password,
		fullname,
		sex,
		birthday,
		email,
		phone_number,
		address,
		create_at,
		create_user,
		delete_at,
		delete_user,
		update_at,
		update_user,
		status
		) VALUES
		(
		#{staff_id},
		#{username},
		#{password},
		#{fullname},
		#{sex},
		#{birthday},
		#{email},
		#{phone_number},
		#{address},
		#{create_at},
		#{create_user},
		#{delete_at},
		#{delete_user},
		#{update_at},
		#{update_user},
		#{status}
		)
	</insert>

	<update id="updateAccount">
		UPDATE accounts
		SET
		staff_id = #{staff_id},
		username =
		#{username},
		password = #{password},
		fullname = #{fullname},
		sex =
		#{sex},
		birthday = #{birthday},
		email = #{email},
		phone_number =
		#{phone_number},
		address = #{address},
		update_at = #{update_at},
		update_user = #{update_user},
		status = #{status}
		where user_id =
		#{user_id}
	</update>
	<update id="updateUser">
		UPDATE accounts
		SET
		username = #{username},
		fullname = #{fullname},
		staff_id = #{staff_id},
		sex = #{sex},
		birthday = #{birthday},
		email = #{email},
		phone_number = #{phone_number},
		address = #{address},
		update_at = #{update_at}
		where user_id = #{user_id}
	</update>
	<update id="updatePassword">
		UPDATE accounts
		SET
		password = #{password},
		update_at = #{update_at}
		where user_id = #{user_id}
	</update>
</mapper>