<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiep.staff.mapper.SalaryMapper">

	<select id="getSalaryUser"
		resultType="com.hiep.staff.entity.SalaryEntity">
		select * from salary where staff_id = #{staff_id} and
		salary_date = #{yearMonth}
	</select>

	<select id="checkHasInserted" resultType="int">
		select count(*) from
		salary where CAST(staff_id as INTEGER) = #{staff_id} and salary_date =
		#{yearMonth}
	</select>

	<select id="getTimeOfUserByMonthYear"
		resultType="com.hiep.staff.entity.AccountsEntity">
		select * from salary where staff_id = #{staff_id} and
		salary_date = #{yearMonth}
	</select>

	<insert id="insertSalary">
		INSERT INTO salary(
		fullname,
		staff_id,
		salary_date,
		basic_salary,
		up_salary,

		total_days,
		total_times,
		regular_time,
		total_times_up,
		allowance,
		salary,
		create_at,
		create_user,
		delete_at,
		delete_user,
		update_at,
		update_user,
		status
		) VALUES
		(
		#{fullname},
		#{staff_id},
		#{salary_date},
		#{basic_salary},
		#{up_salary},

		#{total_days},
		#{total_times},
		#{regular_time},
		#{total_times_up},
		#{allowance},
		#{salary},
		#{create_at},
		#{create_user},
		#{delete_at},
		#{delete_user},
		#{update_at},
		#{update_user},
		#{status}
		)
	</insert>
	
	<delete id="deleteSalaryUser">
		delete from salary where
		staff_id = #{staff_id} and salary_date = #{yearMonth}
	</delete>


</mapper>