<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiep.staff.mapper.StudentMapper">

	<!-- STUDENT -->

	<insert id="insertStudent">
		INSERT INTO student(classname, name) VALUES (#{classname}, #{name})
	</insert>
	
	<select id="getAllStudent"
		resultType="com.hiep.staff.entity.StudentEntity">
		select * from student where classname = #{classname} order by LEFT(SPLIT_PART(name, ' ', array_length(regexp_split_to_array(name, ' '), 1)), 1) ASC
	</select>
	
	<select id="getStudentIdByName"
		resultType="int">
		select id from student where name = #{name}
	</select>
	
	<select id="getCountStudenByName"
 		resultType="int">
		select count(*) from student where name = #{name}
	</select>
	
	<delete id="deleteStudentByNameAndClassname">
        DELETE FROM student
        WHERE name = #{name}
          AND classname = #{classname}
    </delete>
	
	
</mapper>