<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiep.staff.mapper.WeddingMapper">

	<insert id="insertAcceptWedding">
	    INSERT INTO wedding (user_name, attendance, relation, wish, created_at)
	    VALUES (#{user_name}, #{attendance}, #{relation}, #{wish}, CURRENT_TIMESTAMP - INTERVAL '2 hours')
	</insert>

    
    <select id="getAllWish"
		resultType="com.hiep.staff.entity.WeddingEntity">
		select * from wedding;
	</select>
</mapper>